@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(19, 18, 18);
}

h1 {
  font-family: 'Exo', sans-serif;
}

#myBtn {
  text-align: center;
}

#myBtn input {
  width: 15em;
}

.form-group label {
  font-family: 'Montserrat', sans-serif;
}

table {
  text-align: center;
}

.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: green;
}

.error {
  background: red;
}
